@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Outfit", sans-serif;
  /* Deep dark luxury background */
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0f0224;
}
::-webkit-scrollbar-thumb {
  background: #4c1d95;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #6d28d9;
}

/* Remove blue highlight on mobile */
* {
  -webkit-tap-highlight-color: transparent;
}

.container { max-width: 1200px; }
